@use 'vendors';
@use './vendors-extensions/custom-styles/mixins' as mixin;
@use './vendors-extensions/custom-styles/variables' as var;

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;

  .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }

  card-story {
    border-radius: 8px;

    &:hover {
      @include mixin.hover-effect;
    }
  }

  .about-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-items: center;
    align-items: center;
    padding: 0 200px;

    #profile-img {
      width: 400px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }

    h1 {
      margin-bottom: var.$h1-margin-bottom;
    }
  }
}

.custom-btn {
  white-space: nowrap;
}
