<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Story App</title>
  </head>
  <body>
    <header>
      <nav-bar></nav-bar>
    </header>

    <main>
      <div class="about-container mx-3">
        <section>
          <h1>Hello I'm Gilbert Tan</h1>
          <p>
            A newbie in programming world. I'm trying to learn how to be a Web Developer. I've a
            dream to be a Web Developer, iOS Developer and Android Developer in the future :)
          </p>
        </section>
        <img id="profile-img" alt="" />
      </div>
    </main>

    <footer>
      <footer-app></footer-app>
    </footer>
  </body>
</html>
